/* 
    Document   : style
    Created on : Jul 18, 2013, 3:02:02 PM
    Author     : Suhendra
    Description:
        Purpose of the stylesheet follows.
*/

::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

body {
    background-color: #fff;
    margin: 40px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #4F5155;
}

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

h1 {
    color: #444;
    background-color: transparent;
    border-bottom: 1px solid #D0D0D0;
    font-size: 19px;
    font-weight: normal;
    margin: 0 0 14px 0;
    padding: 14px 15px 10px 15px;
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body{
    margin: 0 15px 0 15px;
}

p.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container{
    margin: 10px;
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}

#menu{
    margin-left: -29px;
    position: fixed;
    margin-top: -45px;
}
#menu ul li {
    display: inline;
}
#menu ul li a{
    background-color: rgb(247, 247, 247);
    text-transform: capitalize;
    font-family: Tahoma, arial, georgia;
    text-decoration: none;
    padding: 5px;
    border: 1px solid rgb(209, 204, 204);
}
#menu ul li a:hover{
    background-color: rgb(247, 247, 247);
}


div#imglists {
  width: 900px;
  margin: 0 auto;
  overflow: auto;
}
 
div#imglists ul {
  list-style-type: none;
}
 
div#imglists li img {
  float: left;
  margin: 10px;
  border: 5px solid #CCC;
 max-height: 128px;
 max-width: 128px;
     
  -webkit-transition: box-shadow 0.5s ease;
  -moz-transition: box-shadow 0.5s ease;
  -o-transition: box-shadow 0.5s ease;
  -ms-transition: box-shadow 0.5s ease;
  transition: box-shadow 0.5s ease;
}
 
div#imglists li img:hover {
  -webkit-box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
  box-shadow: 0px 0px 7px rgba(255,255,255,0.9);
}